<h1 class="md-title">Orientation</h1>
<md-input-container>
  <label>Search</label>
  <input ng-model="search">
</md-input-container>
<table class="table table-hover">
    <thead>
        <tr>
            <th ng-click="sort('year')">Year
            <span class="glyphicon sort-icon" ng-show="sortKey=='year'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('date')">Month
            <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('name')">Name
            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="orientation in orientations|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
            <td>{{orientation.seikyo.year}}</td>
            <td>{{orientation.seikyo.date}}</td>
            <td colspan="3">{{orientation.name}}</td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
    max-size="10"
    direction-links="true"
    boundary-links="true" >
</dir-pagination-controls>