<md-sidenav class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')">
    <md-content>
        <md-list>
            <md-list-item ng-click="navigate('user.dashboard')">
                <p>Seikyos</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.advertising')">
                <p>Advertising</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.article')">
                <p>Article</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.basicTerm')">
                <p>Basic Term</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.editorial')">
                <p>Editorials</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.experience')">
                <p>Experiences</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.femenineDivision')">
                <p>Femenine Divisions</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.futureGroup')">
                <p>Future Groups</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.masculineDivision')">
                <p>Masculine Divisions</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.message')">
                <p>Messages</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.monthlyPhrase')">
                <p>Monthly Phrases</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.orientation')">
                <p>Orientations</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.review')">
                <p>Reviews</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.sokaAdvance')">
                <p>Soka Advances</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigate('user.studentGroup')">
                <p>Student Groups</p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</md-sidenav>
<md-content
    flex
    layout-padding
    ui-view>
</md-content>
